body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;

  background-color: white;
}

.gradient-shadow {
  position: relative;

  width: 500px;
  height: 300px;

  background-image: linear-gradient(to top right, #833ab4, #fd1d1d);
}

.gradient-shadow::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top right, #833ab4, #fd1d1d);
  transform: scale(1.1);
  filter: blur(25px);
}