@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply cursor-pointer py-2 sm:py-6 w-1/2 sm:w-auto text-center transition hover:text-link-hover-color active:text-link-hover-color;
  }

  .footer-link {
    @apply text-purple-700 hover:underline;
  }



  .menu-login-button {
    @apply rounded-lg py-[7px] px-5 sm:px-3 md:px-4 lg:px-5;
  }

  .header-button {
    @apply h-12 w-full rounded-lg sm:w-[150px];
  }



  .features-card {
    @apply flex flex-col items-center justify-center gap-[10px] text-center;
  }

  .features-card-svg-bg {
    @apply flex items-center justify-center h-9 w-9 rounded-full bg-[#f4eaff];
  }

  .features-card-svg {
    @apply h-[22px] w-[22px] text-[#7e22ce];
  }



  .pricing-card {
    @apply flex w-full flex-col gap-[30px] rounded-2xl border border-solid border-gray-300 p-5 sm:w-[330px];
  }

  .pricing-card-tag {
    @apply mx-auto w-fit rounded-2xl bg-purple-100 py-1 px-3 text-sm text-purple-600;
  }

  .pricing-card-price {
    @apply mb-[10px] text-2xl md:text-3xl font-bold text-gray-900;
  }

  .pricing-card-properties {
    @apply flex flex-col gap-[10px] text-gray-500;
  }

  .pricing-card-button-get {
    @apply mb-[10px] h-12 w-full rounded-lg border-2 border-solid border-purple-700 bg-purple-700 text-white;
  }

  .pricing-card-button-chat {
    @apply h-12 w-full rounded-lg border-2 border-solid border-purple-700 text-gray-900;
  }



  .swiper {
    @apply flex h-full w-full sm:w-[350px] shrink-0;
  }
}

@layer utilities {
  /* hamburger-menu */
  #hamburger {
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: relative;
    transition: 0.500s ease-in-out;
  }

  #hamburger span {
    display: block;
    
    position: absolute;
    left: 0;

    height: 4px;
    width: 35px;
    
    background-color: #626a75;
    
    border-radius: 4px;
    
    transition: 0.300s ease-in-out;
  }

  #hamburger span:nth-child(1) {
    top: 20%;
  }

  #hamburger span:nth-child(2), #hamburger span:nth-child(3) {
    top: 50%;
  }

  #hamburger span:nth-child(4) {
    top: 80%;
  }

  #hamburger.active ~ #menu {
    left: 0;
  }

  #hamburger.active span:nth-child(1) {
    top: 50%;
    width: 0%;
    left: 50%;
  }

  #hamburger.active span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #hamburger.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #hamburger.active span:nth-child(4) {
    width: 0%;
    left: 50%;
  }
  /* hamburger-menu */



  .no-scrollbar {
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}