body {
  background: linear-gradient(
    to right,
    #6f7280,
    #2a2c3c,
    #181827,
    #833ab4,
    #fd1d1d,
    #fcb045
  );

  background-size: 400% 400%;
  animation: body 10s infinite ease-in-out;
}

@keyframes body {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }
  
  100% {
    background-position: 0 50%;
  }
}