@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import "../sass/utilities/mixins";



* {
  margin: 0;
  padding: 0;
}



body {
  @include display-flex;

  height: 100vh;

  color: black;
  background-color: #2a2c3c;
  font-family: "Poppins", sans-serif;
}

.display-flex {
  @include display-flex;
  
  gap: 50px;
  
  width: 1000px;
  height: auto;

  .item {
    @include display-flex;

    width: 125px;
    height: 125px;
    
    background-color: #b2e5e6;

    border-radius: 30px;

    span {
      font-size: 20px;
    }
  }
}