@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import "../sass/utilities/mixins";



* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}



body {
  @include display-flex;

  height: 100vh;

  background-color: #2a2c3c;
  font-family: "Poppins", sans-serif;
}

.cards {
  @include display-flex;

  width: 600px;

  .list {
    @include display-flex;
    flex-wrap: wrap;
    gap: 15px;

    li {
      padding: 12px 25px;

      color: black;

      border-radius: 50px;

      list-style-type: none;

      cursor: pointer;

      transition: all 0.15s;

      &:nth-child(1) {
        background-color: #9d4edd;

        &:hover {
          box-shadow: 0 0 5px #d8b4e2;
        }
      }

      &:nth-child(2) {
        background-color: #33dfd6;

        &:hover {
          box-shadow: 0 0 5px #b8f2e6;
        }
      }

      &:nth-child(3) {
        background-color: #f1c0e8;

        &:hover {
          box-shadow: 0 0 5px #fff9ec;
        }
      }

      &:nth-child(4) {
        background-color: #7177cf;

        &:hover {
          box-shadow: 0 0 5px #6583a8;
        }
      }

      &:nth-child(5) {
        background-color: #ffe5d9;

        &:hover {
          box-shadow: 0 0 5px #fefae0;
        }
      }

      &:nth-child(6) {
        background-color: #ffa6c1;

        &:hover {
          box-shadow: 0 0 5px #ffc8dd;
        }
      }

      &:nth-child(7) {
        background-color: #ffef82;

        &:hover {
          box-shadow: 0 0 5px #c7f9cc;
        }
      }
    }
  }
}
