$primary-color: #fbfbfe;
$primary-bg-color: #42414d;
$details-settings-svg-color: #00ddff;
$personalize-items-bg-color: #575563;
$primary-hover-bg-color: rgba(251, 251, 254, 0.057);
$separator-settings: 1px solid #b968d6;

$screen-1: 959px;
$screen-2: 840px;
$screen-3: 720px;
$screen-4: 480px;
$screen-5: 360px;